/***************
  Master CSS
  Author: Alexander Miner
  Project: RDI Project 2
  Group: E Man Maet
    Eric Kisner
	Charles Porter
	Alexander Miner
****************/

div#main{
	width: 780px;
    margin: 0 auto 0 auto;
}

table#loginTable{
	margin: 200px auto 0 auto;
}